<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title>Reservations</ion-title>
    <ion-buttons slot="end">
      <ion-button
        color="primary"
        fill="clear"
        (click)="goToCreateReservation()"
        aria-label="Create reservation"
      >
        <ion-icon slot="icon-only" name="add-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid fixed class="tab-page">
    <ion-row>
      <ion-col size="12">
        <app-summary-metric
          label="Today schedule"
          [value]="reservations.length + ' reservations'"
        ></app-summary-metric>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12">
        <app-generic-list
          [items]="reservations"
          icon="calendar-outline"
        ></app-generic-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
