<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tabClients" href="/tabs/tabClients">
      <ion-icon aria-hidden="true" name="people"></ion-icon>
      <ion-label>Clients</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tabReservations" href="/tabs/tabReservations">
      <ion-icon aria-hidden="true" name="calendar-number"></ion-icon>
      <ion-label>Reservations</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tabProducts" href="/tabs/tabProducts">
      <ion-icon aria-hidden="true" name="pricetags"></ion-icon>
      <ion-label>Products</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
